/*
    (\__/)
    (•ㅅ•)
*/

@import url('https://fonts.googleapis.com/css?family=Lato');

/*General Styling*/
:root {
  --light: #eee;
  --dark: #292828;
}

body.dark {
  --light:#292828;
  --dark: #eee;
}

body {
  padding: 0 5%;
  background-color: var(--light);
  font-family: 'Noto Serif', serif;
  color: var(--dark);
}

h1 {
  font-size: 8em;
  margin: 0;
}

header {
  padding: 5%;
}

header p {
  font-size: 1.5em;
  margin-bottom: 3%;
}

footer {
  height: 6vh;
  padding: 1%;
}

footer p {
  font-size: 1em;
  padding: 0;
  text-align: center;
}

/*Normal links*/
a {
  text-decoration: none;
}

a:link {
  color: #82b4ff;
}

a:visited {
  color: #3c8aff;
}

/*Button links*/
.button-container {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.button {
  border-radius: 2px;
  display: inline-block;
}

.button svg {
  height: 10vw;
  width: 10vw;
  max-width: 32px;
  max-height: 32px;
  margin: 0 10px;
  vertical-align: middle;
}

.button:hover path {
  fill: #e41765;
}

/*Gallery section*/
#gallery {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  align-items: flex-end;
}

.gallery__art {
  position: relative;
  margin: 0;
}

.gallery__art:hover .art__desc {
  opacity: 1;
  transform: none;
}

.art-size--1 {
  grid-column-start: span 1;
}

.art-size--2 {
  grid-column-start: span 2;
}

.art-size--3 {
  grid-column-start: span 3;
}

.art {
  width: 100%;
  height: auto;
  transition: box-shadow 0.1s ease-out;
  background-color: #c7c7c7;
  color: transparent;
}

.art:hover {
  box-shadow: 0 0 0 5px var(--light), 0 0 0 7px var(--dark);
  cursor: zoom-in;
}

.art__desc {
  opacity: 0;
  position: absolute;
  padding: 0.25rem 1rem;
  background-color: var(--dark);
  bottom: -20px;
  transform: translateY(20px);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}


.art__title {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  color: var(--light);
  font-size: 16px;
  text-transform:initial;
  letter-spacing: 0.05rem;
  margin: 0.5rem 0;
}

.art__date {
  text-transform:initial;
  color: var(--light);
  font-size: 12px;
  margin: 0.5rem 0;
}

.galleryHalf, .galleryFull {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  border: 1px solid var(--light);
  width: 50%;
  margin: 0;
}

.art-modal {
  position: fixed;
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;

  width: 100vw;

  margin: 0;
  padding: 1rem;

  overflow-x: scroll;
  overflow-y: scroll;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);

  cursor: zoom-out;
}

.art-modal__img {
  display: block;
  margin: 0 auto;
}

.art-modal__desc {
  position: fixed;
  padding: 0.25rem 1rem;
  background-color: var(--dark);
  bottom: 2rem;
  z-index: 1;
}

.hidden {
  display: none;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1200px) {
  h1 {
    font-size: 5em;
  }

  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .art-size--3 {
    grid-column-start: span 2;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #gallery {
    grid-template-columns: 1fr;
  }

  .art-size--2 {
    grid-column-start: span 1;
  }

  .art-size--3 {
    grid-column-start: span 1;
  }
}

